.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.mb-1 {
  margin-bottom: .5rem;
}

.justify-center {
  justify-content: center;
}

p {
  margin-bottom: 0 !important;
}

.nav {
  display: flex;
  color: aliceblue;
  align-items: center;
  margin: 0px 20px;
}

.card {
  border: 2px solid #e3e3e3;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.bg-gray {
  background-color: #303439;
  min-height: 100vh;
}

.bg-white-alpha {
  background-color: rgb(255, 255, 255, 0.09) !important;
  color: white !important;
}

.market {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  color: white;
}